## DataFrames
Julia does not only have one table implemenation - it has several. DataFrames is one of them, most inspired by R, but there's also e.g. JuliaDB

In [2]:
using DataFrames
df = DataFrame(a = 1:10, b = randn(10))

10×2 DataFrame
│ Row │ a     │ b         │
│     │ Int64 │ Float64   │
├─────┼───────┼───────────┤
│ 1   │ 1     │ -0.380988 │
│ 2   │ 2     │ 1.86472   │
│ 3   │ 3     │ 0.652373  │
│ 4   │ 4     │ 0.263622  │
│ 5   │ 5     │ -0.697547 │
│ 6   │ 6     │ -0.202568 │
│ 7   │ 7     │ -1.12496  │
│ 8   │ 8     │ -0.544695 │
│ 9   │ 9     │ 0.508601  │
│ 10  │ 10    │ 0.521954  │

In [3]:
describe(df)

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median    │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64   │ Real    │ Nothing │
├─────┼──────────┼───────────┼──────────┼───────────┼─────────┼─────────┤
│ 1   │ a        │ 5.5       │ 1        │ 5.5       │ 10      │         │
│ 2   │ b        │ 0.0860511 │ -1.12496 │ 0.0305267 │ 1.86472 │         │

In [7]:
df[:a] .* 2

10-element Array{Int64,1}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

More commonly you get the DataFrame from somewhere. Let's work with this DataFrame of mammal sleep patterns. You need the CSV package to read the file

In [8]:
using CSV
allison = CSV.read("../Data/allison.csv", 
    missingstring = "NA", allowmissing = :auto)
first(allison, 4)

4×11 DataFrame. Omitted printing of 6 columns
│ Row │ Species                │ BodyWt  │ BrainWt │ NonDreaming │ Dreaming │
│     │ String                 │ Float64 │ Float64 │ Float64⍰    │ Float64⍰ │
├─────┼────────────────────────┼─────────┼─────────┼─────────────┼──────────┤
│ 1   │ Africanelephant        │ 6654.0  │ 5712.0  │ missing     │ missing  │
│ 2   │ Africangiantpouchedrat │ 1.0     │ 6.6     │ 6.3         │ 2.0      │
│ 3   │ ArcticFox              │ 3.385   │ 44.5    │ missing     │ missing  │
│ 4   │ Arcticgroundsquirrel   │ 0.92    │ 5.7     │ missing     │ missing  │

In [5]:
describe(allison)

11×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable    │ mean    │ min             │ median │
│     │ Symbol      │ Union…  │ Any             │ Union… │
├─────┼─────────────┼─────────┼─────────────────┼────────┤
│ 1   │ Species     │         │ Africanelephant │        │
│ 2   │ BodyWt      │ 198.79  │ 0.005           │ 3.3425 │
│ 3   │ BrainWt     │ 283.134 │ 0.14            │ 17.25  │
│ 4   │ NonDreaming │ 8.67292 │ 2.1             │ 8.35   │
│ 5   │ Dreaming    │ 1.972   │ 0.0             │ 1.8    │
│ 6   │ TotalSleep  │ 10.5328 │ 2.6             │ 10.45  │
│ 7   │ LifeSpan    │ 19.8776 │ 2.0             │ 15.1   │
│ 8   │ Gestation   │ 142.353 │ 12.0            │ 79.0   │
│ 9   │ Predation   │ 2.87097 │ 1               │ 3.0    │
│ 10  │ Exposure    │ 2.41935 │ 1               │ 2.0    │
│ 11  │ Danger      │ 2.6129  │ 1               │ 2.0    │

There are several packages to do DataFrame wrangling. The one that is closest to R's dplyr is called Query

In [9]:
]add Query#master

In [ ]:
using Query